/* RESET CSS */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: center;
}

.fa-solid {
  font-size: 20px;
}
footer .fa-solid {
  font-size: 14px;
  color: white;
}
.fa-heart {
  font-size: 24px;
}
.fa-circle-check {
  color: white;
  font-size: 24px;
}
.icon-gray {
  color: #7e7e7e;
}
.icon-violet {
  color: var(--clr-primary);
}

[id="heart"],
[id="heart2"],
[id="heart3"],
[id="heart4"] {
  position: absolute;
  left: -100vw;
}
[for="heart"],
[for="heart2"],
[for="heart3"],
[for="heart4"] {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
[for="heart"]::selection,
[for="heart2"]::selection,
[for="heart3"]::selection,
[for="heart4"]::selection {
  color: inherit;
  background: transparent;
}
[id="heart"]:checked + label > .fa-heart,
[id="heart2"]:checked + label > .fa-heart,
[id="heart3"]:checked + label > .fa-heart,
[id="heart4"]:checked + label > .fa-heart {
  background: -webkit-linear-gradient(-13deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  animation: gradient 0.7s ease-in forwards;
}

@keyframes gradient {
  0% {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
  }
  50% {
    background: -webkit-linear-gradient(
      -13deg,
      #9356dc -11.44%,
      #ff79da 123.93%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    opacity: 0.5;
  }
  100% {
    background: -webkit-linear-gradient(
      -13deg,
      #9356dc -11.44%,
      #ff79da 123.93%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    opacity: 1;
  }
}

/* LOADER */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  background: white;
  display: grid;
  place-items: center;
  z-index: 999;
  animation: visibility 4s ease-in-out forwards;
}
.loader div {
  justify-content: center;
  font-family: var(--font-title);
  font-size: 3rem;
  animation: loader 3.3s cubic-bezier(0.68, -0.25, 0.27, 1.55) forwards;
}
.loader div p {
  overflow: hidden;
  opacity: 0;
  transform: translateY(50px);
  animation: loaderLetters 0.5s cubic-bezier(0.68, -0.25, 0.27, 1.55) forwards;
  background: -webkit-linear-gradient(0deg, #9356dc 11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
  margin-inline: -10px;
}

.loader div p[data-anim-1] {
  animation-delay: 0.2s;
}

.loader div p[data-anim-2] {
  animation-delay: 0.4s;
}

.loader div p[data-anim-3] {
  animation-delay: 0.6s;
}

.loader div p[data-anim-4] {
  animation-delay: 0.8s;
}

.loader div p[data-anim-5] {
  animation-delay: 1s;
}

.loader div p[data-anim-6] {
  animation-delay: 1.2s;
}

.loader div p[data-anim-7] {
  animation-delay: 1.4s;
}

.loader div p[data-anim-8] {
  animation-delay: 1.6s;
}

@keyframes loaderLetters {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes visibility {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

/* ANIMATION SLIDE IN */

.drawer__menu[data-slide-in-1] {
  animation: slideIn 0.3s ease forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

.drawer__menu[data-slide-in-2] {
  animation: slideIn 0.3s ease forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

.drawer__menu[data-slide-in-3] {
  animation: slideIn 0.3s ease forwards;
  animation-delay: 0.9s;
  opacity: 0;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* CLASSES GENERAL */

:root {
  --clr-primary: #9356dc;
  --clr-secondary: #ff79da;
  --clr-accent: #99e2d0;

  --font-title: "Shrikhand", serif;
  --font-text: "Roboto", sans-serif;
}

body {
  max-width: 375px;
  min-width: 320px;
  margin: 0 auto;
  font-family: var(--font-text);
}

.cta {
  display: inline-block;
  text-decoration: none;
  border-radius: 25px;
  font-weight: 400;
  padding: 13px 18px;
  color: white;
  border: none;
  background: linear-gradient(
    -13deg,
    var(--clr-primary) -11.44%,
    var(--clr-secondary) 123.93%
  );
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: opacity, box-shadow 0.3s ease-in-out;
}
.cta:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.step__circle {
  position: absolute;
  top: calc(50% - 12px);
  left: -12px;
  width: 24px;
  height: 24px;
  background: var(--clr-primary);
  border-radius: 100%;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

/* HEADER */

header {
  position: relative;
  padding-block: 14px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header h1 {
  font-family: var(--font-title);
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

header .flex-row {
  justify-content: center;
  align-items: center;
}

header nav ul a {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
}

/* SECTION HERO */

.hero__container {
  background: rgb(246, 246, 246);
  text-align: center;
}

.hero__location {
  background: #eaeaea;
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding-left: 3rem;
  width: 100%;
}
.hero__location input {
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: 500;
}
.hero__location input::placeholder {
  color: black;
}

.hero__headings {
  padding: 40px 2rem 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hero__headings h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.hero__headings p {
  font-size: 1.1rem;
  font-weight: 300;
  color: #353535;
}

.hero__cta {
  padding-bottom: 50px;
}

/* SECTION FONCTIONNEMENT */

.section__fonctionnement {
  padding: 48px 20px 68px;
}
.section__fonctionnement h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 26px;
}

.section__fonctionnement__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 26px;
}

.section__fonctionnement__card {
  position: relative;
  padding: 25px 32px;
  background: #eaeaea;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
}
.section__fonctionnement__card figure {
  gap: 1.5rem;
  align-items: end;
  font-weight: 500;
}

/* SECTION RESTAURANTS */

.section__restaurants {
  padding: 54px 20px 66px;
  background: #eaeaea;
}
.section__restaurants a {
  width: 100%;
}
.section__restaurants h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 26px;
}
.section__restaurants__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.section__restaurants__card {
  position: relative;
  height: 251px;
  border-radius: 15px;
  background: white;
  width: 100%;
}
.section__restaurants__card span {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 7px 10px;
  color: rgba(0, 135, 102, 1);
  background: var(--clr-accent);
  border-radius: 2px;
  font-size: 14px;
}
.section__restaurants__card div.img-container {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  overflow: hidden;
}
.section__restaurants__card[data-restau-1] div.img-container {
  width: 100%;
  height: 70%;
  background-image: url("../images/restaurants/restau-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section__restaurants__card[data-restau-2] div.img-container {
  width: 100%;
  height: 70%;
  background-image: url("../images/restaurants/restau-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section__restaurants__card[data-restau-3] div.img-container {
  width: 100%;
  height: 70%;
  background-image: url("../images/restaurants/restau-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section__restaurants__card[data-restau-4] div.img-container {
  width: 100%;
  height: 70%;
  background-image: url("../images/restaurants/restau-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section__restaurants__card figcaption {
  height: 30%;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__restaurants__card figcaption h4 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 5px;
}
.section__restaurants__card figcaption p {
  font-size: 17px;
  font-weight: 300;
}

/* SECTION MENU */

.hero__image {
  background-image: url("../images/restaurants/restau-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 275px;
}

.drawer {
  background: rgb(246, 246, 246);
  padding: 32px 20px 40px;
  margin-top: -64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
}
.drawer .cta {
  padding-inline: 48px;
  font-size: 16px;
}

.drawer__headings {
  font-family: var(--font-title);
  justify-content: space-between;
  align-self: flex-start;
  padding-bottom: 40px;
  width: 95%;
}

.drawer__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
  width: 100%;
}
.drawer__menu h3 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.drawer__menu-line {
  height: 3px;
  width: 40px;
  margin-top: -8px;
  background: var(--clr-accent);
}
.drawer__menu-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 70px;
  overflow: hidden;
  cursor: pointer;
}
.drawer__menu-item .flex-col {
  padding: 15px;
  justify-content: space-between;
}
.drawer__menu-item .flex-col h4,
.drawer__menu-item .flex-col p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  transition: max-width 0.3s ease-in-out;
}
.drawer__menu-item .flex-col p {
  font-weight: 300;
  padding-top: 3px;
  font-size: 14px;
}
.drawer__menu-item .drawer-price {
  font-weight: 500;
  padding-bottom: 15px;
  position: absolute;
  bottom: 0;
  right: 15px;
  transition: right 0.3s ease-in-out;
}

.drawer-coche {
  transform: translateX(100%);
  width: 18%;
  background: var(--clr-accent);
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: transform 0.3s ease-in-out;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.drawer__menu-item:hover .drawer-coche {
  transform: translateX(0);
}
.drawer__menu-item:hover .drawer-price {
  right: calc(18% + 15px);
}
.drawer__menu-item:hover .flex-col h4,
.drawer__menu-item:hover .flex-col p {
  max-width: 210px;
}

/* SECTION FOOTER */

footer {
  padding: 22px 25px;
  background: #353535;
  color: white;
}
.footer__logo {
  font-family: var(--font-title);
  font-weight: 400;
  padding-bottom: 1rem;
}
footer ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
footer ul li.light {
  font-weight: 300;
}
footer ul li.flex-row {
  gap: 8px;
}

/* MEDIA QUERIES — TABLET */

@media (min-width: 768px) {
  body {
    max-width: none;
  }

  .section__fonctionnement {
    padding: 48px 90px 68px;
  }
  .section__fonctionnement__card figure {
    align-items: center;
  }

  .section__fonctionnement__container {
    flex-direction: row;
  }

  .section__restaurants {
    padding: 54px 90px 66px;
  }

  .section__restaurants__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .section__restaurants__card {
    width: 46%;
  }

  .drawer {
    margin-inline: auto;
    margin-top: -32px;
    width: 75%;
    padding: 32px 90px 40px;
  }
  .drawer__headings {
    justify-content: center;
    gap: 20px;
  }

  .drawer__menu-item .flex-col h4,
  .drawer__menu-item .flex-col p {
    max-width: none;
  }
  .drawer__menu-item:hover .flex-col h4,
  .drawer__menu-item:hover .flex-col p {
    max-width: none;
  }

  .drawer-coche {
    width: 9%;
  }

  .drawer__menu-item:hover .drawer-price {
    right: calc(9% + 15px);
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    padding: 30px 25px;
    gap: 3rem;
  }

  footer ul {
    flex-direction: row;
  }

  .footer__logo {
    padding: 0;
  }
}

/* MEDIA QUERIES — DESKTOP */

@media (min-width: 1024px) {
  body {
    max-width: none;
  }

  .section__fonctionnement {
    padding: 48px 180px 68px;
  }

  .section__fonctionnement__container {
    flex-direction: row;
  }

  .section__restaurants {
    padding: 54px 180px 66px;
  }

  .section__restaurants__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  .section__restaurants__card {
    width: 46%;
  }

  .drawer {
    margin-inline: auto;
    margin-top: -32px;
    width: 75%;
    padding: 32px 180px 40px;
  }
  .drawer__headings {
    justify-content: center;
    gap: 20px;
  }

  .drawer__menu-item .flex-col h4,
  .drawer__menu-item .flex-col p {
    max-width: none;
  }
  .drawer__menu-item:hover .flex-col h4,
  .drawer__menu-item:hover .flex-col p {
    max-width: none;
  }

  .drawer-coche {
    width: 9%;
  }

  .drawer__menu-item:hover .drawer-price {
    right: calc(9% + 15px);
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    padding: 30px 25px;
    gap: 3rem;
  }

  footer ul {
    flex-direction: row;
  }

  .footer__logo {
    padding: 0;
  }
}
